* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    & p{
        color: white;
        font-size: 25px;
        padding: 10px;
        padding-left: 125px;
        padding-right: 125px;
        transition: .25s ease-in-out;
        &:hover{
            text-shadow: 0 0 10px rgb(0, 255, 0);
        }
    }
}

section.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../img/background-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.left1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/left-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
    opacity: 75%;
    & h1, p{
        margin: 50px;
        color: black;
        margin-top: 25px;
        font-weight: bold;
    }
    & h1{
        font-size: 75px;
    }
    & p{
        font-size: 25px;
    }
}

section.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/right-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    opacity: 75%;
    & h1, p{
        margin: 50px;
        color: white;
        margin-top: 25px;
        font-weight: bold;
    }
    & h1{
        font-size: 75px;
    }
    & p{
        font-size: 25px;
    }
}

section.left2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/2left-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;

    height: 500px;
    & h1, p{
        margin: 50px;
        color: black;
        margin-top: 25px;
        font-weight: bold;
    }
    & h1{
        font-size: 75px;
    }
    & p{
        font-size: 25px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    background-image: url(../img/loading-screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    & p{
        color: white;
        margin: 20px;
        font-size: 20px;
        text-decoration: underline overline;
    }
}