* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: orange;
    z-index: 999;
    & a{
        color: white;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        padding-left: 125px;
        padding-right: 125px;
        transition: .25s ease-in-out;
        font-weight: bolder;
        &:hover{
            text-shadow: 0 0 10px rgb(0, 0, 0);
        }
    }
}

section.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & img{
        margin-top: 60px;
    }
}

section.left1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 115, 0);
}

section.left1 .one{
    & h1, p{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 15px;
    }
    & h1{
        font-size: 40px;
        text-decoration: underline;
    }
    & p{
        font-size: 17.5px;
    }
}

section.left1 .two{
    & img{
        width: 800px;
        height: 450px;
    }
}

section.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

section.right .one{
    & img{
        width: 800px;
        height: 450px;
    }
}

section.right .two{
    & h1, p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 15px;
    }
    & h1{
        font-size: 40px;
        text-decoration: underline;
    }
    & p{
        font-size: 17.5px;
    }
}

section.left2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 115, 0);
}

section.left2 .one{
    & h1, p{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 15px;
    }
    & h1{
        font-size: 40px;
        text-decoration: underline;
    }
    & p{
        font-size: 17.5px;
    }
}

section.left2 .two{
    & img{
        width: 800px;
        height: 450px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    background-color: gray;
    & p{
        color: white;
        margin: 20px;
        font-size: 20px;
        text-decoration: underline overline;
        font-family: Arial, Helvetica, sans-serif;
    }
}